/* global*/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

    font-family: "poppins",sans-serif;
    background:#262626;
}


:root{
--drop-shadow : 0px 3px 5px 2px red;
--main-color: green;

}
/* navigation bar*/

nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 8vh;
 font-family: "poppins",sans-serif;



}
.logo{

  text-transform: uppercase;
  font-size: 20px;
  animation: logo  5s infinite;
  z-index: -5;
}
@keyframes logo{
  50% {box-shadow: 3px 3px 5px peru}
}
p .golden {

  color: gold;

}
.nav-links{
display: flex;
justify-content: space-around;
width: 80%;
}
.nav-links a{
  text-decoration:none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size :14px;
  text-transform: uppercase;
  color: white;
  
}
.nav-links li{
  list-style: none;
}

.nav-links input[type=text] {
    float: right;
    padding: 6px;

    margin-top: 8px;
    margin-right: 16px;
    margin-left: 70px;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 17px;
  }
  .burger{

    display: none;
    cursor: pointer;
  }
.burger div {

  width: 25px;
  height :5px;
  background-color: white;
  margin: 3px;
 transition:  all 0.3s ease; 
 


}
/*  for tablet 

@media screen and (max-width:1024px){

  body{

    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    transform: translateX(100%);
    transition: tranform 0.5s ease-in;
  }
 
  .nav-links li {
  
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
  .nav-active{
    transform: translateX(0%);
  
  }
} */

/* for mobile */
@media screen and (max-width:768px){
body{

  overflow-x: hidden;
}
.nav-links{
  position: absolute;
  right: 0px;
  height: 92vh;
  top:8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 background-color: #262626;
 

  width: 50%;
  transform: translateX(100%);
  transition: tranform 0.5s ease-in;
}

.nav-links li {

  opacity: 0;
}
.burger{
  display: block;
 
 
}
.nav-active{
  transform: translateX(0%);

}
@keyframes navLinkFade {
  from{
    opacity:0 ;
    transform: translateX(50px);
  }
  to{
  opacity: 1;
  transform: translateX(0px);
  }
}
.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
  
}


}


  



  /* floating buttons*/

 

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:2px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:gold;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:50px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}




/* footer */

.footer-wrapper{
  width: 1100px;
  margin: 0 auto;
}
.single-footer {
width: 33%;
float: left;
text-align: left;
color: black;

}
.single-footer ul {

  margin: 0;
  padding: 0;
  list-style: none;
}
.single-footer ul a{

  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 12px;

}

.single-footer p{
  width: 70%;

}
footer{
  width: 100%;
background-color: #333;
  position: fixed;
  bottom: 0;
  z-index: -1;
  height:250px;
}
.socialfooter{
  width: 100%;
  color: red;
}
.socialfooter p{
  color: blue;
}


/* slide house pest */

.pest-item{
  width: 100%;
}
.pest-item img{


  width: 20%;
  height: 10%;
  border-radius: 50%;

}


/* why choose us */


#wrapper {
  margin: 25px auto;
  width: 100%;

}
#wrapper h2{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  color: #FFF;
}
#img-area{
  height: 500px;;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow:0 2px 20px grey;
}
#img-boxes{
  height: 500px;
  overflow: hidden;
  position: relative;
  
}
img{
  width: 100%;
}
#img-boxes img{

  position: relative;
  top: 0;
  left: -800px;
}

#dots{
  margin: 15px 0 0 0;
  text-align: center;
  z-index: 10;
}
#dots a{

  text-decoration: none;
  background: gold;
  color: black;
  display: inline-block;
  border-radius:50%;
  padding: 10px;
  width:40px;
  height: 40px;

}
#dots a:hover{
  background: #333;
  color: aqua;
  transition: .6s;
}
#img-boxes img {
  transition: all linear 400ms;
  opacity: 0;
  z-index: 1;
}
#img-boxes img:target{
  left: 0;
  opacity: 1;
  z-index: 5;
} 


/* icon div*/


.household{
background-color: white;
width: 100%;
 
 
  box-shadow: 2px 2px 2px#999;
  padding: 20px;
}

.household h1{
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  
}

 .ico-first{
   width: 100%;
 }
 
 .ico-first img{

 margin-left:50%;
  padding:20px;
 }

 .icon {
 
  width: 15%;
  display: inline-block;

  
 }
 .icon h3{
   text-align: center;
   text-transform: uppercase;
   color: blue;
   margin-left: 50%;
   font-size: 2vw;
 }
 .ico-first img:hover{

  animation: shad 5s infinite;
 }
 
@keyframes shad{
  50% {box-shadow: 3px 3px 5px peru}
}
  








/* main landing image css*/

#landing{
background-image: url(../images/2.jpg);
margin-top: 20px;
height:60vh;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
padding: 0 20px;
z-index: 10;
}
#landing h1{

 
  font-size:4vw;
  color: white;
  margin-left: 80px;

}
#landing p{
  
  font-size:2vw;
  color: white;
  margin-left: 80px;
  margin-bottom: 10px;

}
#landing h4{

  font-size:1vw;
  color: white;
  margin-left: 80px;
}

/* animated text */


.wrap-expect{
 
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items:center; 

 
}
.wrap-expect h1{
  margin-left: 40%;
  margin-top:20px;
  text-decoration: none;
  text-transform: uppercase;
  color: aqua;
  font-size: 3vw;
  
}
.container-anim{
  margin-left: 40%;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5vw;
}





