/* global*/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

    font-family: "poppins",sans-serif;
    background:#262626;
}


:root{
--drop-shadow : 0px 3px 5px 2px red;
--main-color: green;

}
/* navigation bar*/

nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 8vh;
 font-family: "poppins",sans-serif;



}
.logo{

  text-transform: uppercase;
  font-size: 20px;
  animation: logo  5s infinite;
  z-index: -5;
}
@keyframes logo{
  50% {box-shadow: 3px 3px 5px peru}
}
p .golden {

  color: gold;

}
.nav-links{
display: flex;
justify-content: space-around;
width: 80%;
}
.nav-links a{
  text-decoration:none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size :14px;
  text-transform: uppercase;
  color: white;
  
}
.nav-links li{
  list-style: none;
}

.nav-links input[type=text] {
    float: right;
    padding: 6px;

    margin-top: 8px;
    margin-right: 16px;
    margin-left: 70px;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 17px;
  }
  .burger{

    display: none;
    cursor: pointer;
    float: right;
  }
.burger div {

  width: 25px;
  height :5px;
  background-color: white;
  margin: 3px;
 transition:  all 0.3s ease; 
 


}
/*  for tablet 

@media screen and (max-width:1024px){

  body{

    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    transform: translateX(100%);
    transition: tranform 0.5s ease-in;
  }
 
  .nav-links li {
  
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
  .nav-active{
    transform: translateX(0%);
  
  }
} */

/* for mobile */
@media screen and (max-width:768px){
body{

  overflow-x: hidden;
}
.nav-links{
  position: absolute;
  right: 0px;
  height: 92vh;
  top:8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 background-color: #262626;
 

  width: 50%;
  transform: translateX(100%);
  transition: tranform 0.5s ease-in;
}

.nav-links li {

  opacity: 0;
}
.burger{
  display: block;
 
 
}
.nav-active{
  transform: translateX(0%);

}
@keyframes navLinkFade {
  from{
    opacity:0 ;
    transform: translateX(50px);
  }
  to{
  opacity: 1;
  transform: translateX(0px);
  }
}
.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
  
}

}


  



  /* floating buttons*/

 

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:2px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:gold;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:50px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}







/* why choose us */


#wrapper {
  margin: 25px auto;
  width: 100%;

}
#wrapper h2{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  color: #FFF;
}
#img-area{
  height: 500px;;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow:0 2px 20px grey;
}
#img-boxes{
  height: 500px;
  overflow: hidden;
  position: relative;
  
}
img{
  width: 100%;
}
#img-boxes img{

  position: relative;
  top: 0;
  left: -800px;
}

#dots{
  margin: 15px 0 0 0;
  text-align: center;
  z-index: 10;
}
#dots a{

  text-decoration: none;
  background: gold;
  color: black;
  display: inline-block;
  border-radius:50%;
  padding: 10px;
  width:40px;
  height: 40px;

}
#dots a:hover{
  background: #333;
  color: aqua;
  transition: .6s;
}
#img-boxes img {
  transition: all linear 400ms;
  opacity: 0;
  z-index: 1;
}
#img-boxes img:target{
  left: 0;
  opacity: 1;
  z-index: 5;
} 


/* icon div*/


.household{
background-color: white;
width: 100%;
 
 
  box-shadow: 2px 2px 2px#999;
  padding: 20px;
}

.household h1{
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  
}

 .ico-first{
   width: 100%;
 }
 
 .ico-first img{

 margin-left:50%;
  padding:20px;
 }

 .icon {
 
  width: 15%;
  display: inline-block;

  
 }
 .icon h3{
   text-align: center;
   text-transform: uppercase;
   color: blue;
   margin-left: 50%;
   font-size: 2vw;
 }
 .ico-first img:hover{

  animation: shad 5s infinite;
 }
 
@keyframes shad{
  50% {box-shadow: 3px 3px 5px peru}
}
  








/* main landing image css*/

#landing{
background-image: url(../images/2.jpg);
margin-top: 20px;
height:60vh;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
padding: 0 20px;
z-index: 10;
}
#landing h1{

 
  font-size:4vw;
  color: white;
  margin-left: 80px;

}
#landing p{
  
  font-size:2vw;
  color: white;
  margin-left: 80px;
  margin-bottom: 10px;

}
#landing h4{

  font-size:1vw;
  color: white;
  margin-left: 80px;
}


/* why */


.wrap-why{

  width: 100%;
  background-color:#E4ECF4; 
}

.why-text{

  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3vw;
  color: red;
}
.container-why{
  width: 80%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 10%;
  margin-top: 30px;
}

.container-why .card{
  position: relative;
  cursor: pointer;
}

.container-why .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container-why .card .face.face1{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-why .card:hover .face.face1{
  background: #262626;
  transform: translateY(0);
}

.container-why .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.container-why .card:hover .face.face1 .content{
  opacity: 1;
}

.container-why .card .face.face1 .content img{
  max-width: 100px;
}

.container-why .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container-why .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container-why .card:hover .face.face2{
  transform: translateY(0);
}

.container-why .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container-why .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container-why .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}



@media screen and (max-width:768px){

  .wrap-why{

    width: 100%;
    background-color:#E4ECF4; 
  }

  .why-text{

    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3vw;
    color: red;
  }

  .container-why{
    width:80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 10%;
    margin-top: 30px;
    background-color: #E4ECF4;
   
  }
  
  .container-why .card{
    position: relative;
    cursor: pointer;
  }
  
  .container-why .card .face{
    width: 190px;
    height: 200px;
    transition: 0.5s;
  }
  
  .container-why .card .face.face1{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container-why .card:hover .face.face1{
    background: #262626;
    transform: translateY(0);
  }
  
  .container-why .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
  }
  
  .container-why .card:hover .face.face1 .content{
    opacity: 1;
  }
  
  .container-why .card .face.face1 .content img{
    max-width: 100px;
  }
  
  .container-why .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5vh;
  }
  
  .container-why .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
  }
  
  .container-why .card:hover .face.face2{
    transform: translateY(0);
  }
  
  .container-why .card .face.face2 .content p{
    margin: 0;
    padding: 0;
  }
  
  .container-why .card .face.face2 .content a{
    margin: 10px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 600;
    color: blue;
    padding: 5px;
    border: 1px solid #333;
  }
  
  .container-why .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
  }
}

  /* footer   */
 
  .footer{
    background: #EFEFEF;
    color: black;
 height: 400px;
 position: relative;
 border-top: white 1px solid;
}


.footer .footer-content{

  
   height: 350px;
   display: flex;
}
.footer .footer-content .footer-section{
flex: 1;

padding: 25px;
}
.footer .footer-bottom{

   background: #707070;
   color:white;
   text-align: center;
   position: absolute;
   bottom: 0px;
   left: 0px;
   padding-top: 20px;
   width: 100%;
}

.footer .footer-content h1,
.footer .footer-content h2{

   color: white;

}

.footer .footer-content .about .contact span{

   display: block;
   font-size: 1.1em;
   margin-bottom: 8px;

}
.footer .footer-content .about .socials a{

   border: 1px solid gray;
   width: 45px;
   height: 41px;
   padding-top: 5px;
   margin-right: 5px;
   text-align: center;
   display: inline-block;
   font-size: 1.3em;
   border-radius: 5px;
}


.footer .footer-content .about .socials a:hover{

   border: 1px solid white;
   color: grey;
}
.footer .footer-content .about .socials i {

   color: green;
}

 

.footer .footer-content .links ul a{
display: block;
margin-bottom: 10px;
font-size: 1.2em;
color: black;
text-decoration: none;
}
.footer .footer-content .links ul a:hover{

   color: black;
   margin-left: 15px;
   transition: all .3s;

}

 

 
 input[type=text], input[type=submit] {
   width: 100%;
   padding: 12px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   border-radius:5px;
 }
 
 input[type=checkbox] {
   margin-top: 16px;
 }
 
 input[type=submit] {
   background-color: blue;
   color: white;
   border: none;
  border-radius: 5px;
 }
 
 input[type=submit]:hover {
   opacity: 0.8;
 }
