/* global*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

    font-family: "Montserrat",sans-serif;
}
a{

    text-decoration: none;
}
li{

    list-style: none;
}


:root{
--drop-shadow : 0px 3px 5px 2px red;
--main-color: green;

}

.navbar{

    width: 100%;
    padding: 40px 0;
    
}

.container{

    width: 80%;
    margin: auto;
}
.container p{

    
    font-size : 50px;
    cursor: pointer;
    color:black ;
}
 p .golden{

  color: gold;

}


.navbar .container{

    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.nav{

    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav a{

    margin-right: 70px;
    border-right: 1px solid;
    border-left: 1px solid;
    font-weight: 400;
  
    font-size: 19px;
    color: black;

}
.nav input[type=text] {
    float: right;
    padding: 6px;

    margin-top: 8px;
    margin-right: 16px;
    margin-left: 70px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 17px;
  }





  /* main section */


  .main{

    width: 100%;
    background-color: green;

  }
  .main-container{

    width: 80%;
    margin: 50px auto;

   
  }

  .main .main-container{

    display: grid;
    grid-template-columns: repeat(2 ,1fr);

  }
  .main-container div {
      animation: fadein 0.8s  ease-in-out;
  }

  .main-container div h2 {

   color: white;
    margin-top: 10px;
  
  }
  
  .main-container div h3 {

    color: white;
     margin-top: 10px;
 
   }

  .main-container h1 {

    font-size: 60px;
    margin: 80px 0;
    color: beige;

  }

  /*.main-container .btn {

    background: var(--main-color);
    padding: 15px 25px;
    margin: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: white;
    border-radius: 1px;
    box-shadow: var(--drop-shadow);
    justify-content: center;
  }*/
  .main-container img{

    width: 100%;
  }




  /* floating buttons*/

 

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:2px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:gold;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:50px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}